 body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 
.container{
    flex:1;

}
.navbar{
    height: 5rem;
    background-color: white;
    z-index:1;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
    margin-right:0.5rem;
    margin-left:1rem;
}
.nav-link{
    color:#222222 !important;
}
footer .f-info-links a{
    text-decoration: none;
    color:#222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links,
.f-info-socials,
.f-info-brand
{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    margin-right:1rem;
    font-size: 1.2rem;
}
.f-info{
    text-align: center;
    height:8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly ;
}
.listing-card{
    border:none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
   font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.tax-button{
    position: relative;
    left:150vh;
}
/*new page*/
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/*edit page*/
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/*show page*/
.show-img{
    height:50vh !important;
    width:90vh !important;
}
.btns{
    display: flex;
}

.listing-card-image{
    width:200px;
}
#map { 
    height:400px;
    width:95vh;
}

/*search bar styling*/
.search-btn{
  background-color: #fe424d;
  color:#fff;
  border-radius: 25px;
  padding:0 1rem 0 1rem;
}
.search-btn:hover{
  background-color: #fe424d; 
}
.search-btn i{
display: inline;
margin-right: 0.5rem;
}

.search-input{
  
  border-radius: 25px;
  padding:0.5rem 3rem 0.5rem 3rem;

}


/*filters styling*/
.filters{
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
   display:flex;
   flex-wrap: nowrap;
   align-items: center;
   margin-bottom: 20px;
   z-index:0.5;
}
.filter{
   text-align: center;
   margin-right:2rem;
   margin-top:2rem;
   opacity: 0.7;
}
.filter:hover{
   opacity: 1;
   cursor: pointer;
}
.filter p{
   font-size: 0.8rem;
}
.filter a{
    text-decoration: none;
    color:#222222;
}

.tax-info{
   display:none;
}
.tax-toggle{
   border:1px solid black;
   border-radius: 1rem;
   height:3.25rem;
   padding:1rem;
   margin-left: 2rem;
   display: flex;
   align-items: center;
}
.listing-card-image{
    border: none !important;
}
.tax-button{
    position: relative;
    left:140vh;
}
@media (max-width:900px){
.tax-button{
    position: relative;
    left:35vh;
    width:120px;

}
.search-input{
    width:100px;
    padding:2px;
}
.container{
    font-size:14px;
    position:relative;
    left:0;
}
}

    
    @media (min-width:100px) and (max-width: 900px ) {
    .show-img{
        height: 280px!important;
        width:300px !important;
    }
    .map{
        height:200px!important;
        width: 300px !important;
    }
    .box{
        width:200px;
        font-size: 14px;
    }
    .box-2{
        margin-left: 10%;
        font-size: 14px;
    }

    }